<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Opportunity</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <style>
        body {
            position: relative;
            width: 300px;
            height: 700px;
            margin: 0px auto;
            text-align:center;
            border: 1px solid #000;
            border-radius: 10%;
        }
        .dno {
            position: absolute;
            left: 0; bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Opportunity</h1>

<hr/>
<p>Сервис позволяет прослушать контент и купить его. Нажмите:</p>
<hr/>

<p>* - для выхода в соновное меню</p>
<p># - вернуться в предыдущее меню</p>


<div class="dno">
    <hr/>
    <table>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="1"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="2"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="3"/>
        </form>
    </table>

    <table>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="4"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="5"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="6"/>
        </form>
    </table>

    <table>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="7"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="8"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="9"/>
        </form>
    </table>

    <table>
        <form action="/home" method="get">
            <input class="btn btn-primary btn-lg" type="submit" value="*"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="0"/>
        </form>
        <form action="/info" method="get">
            <input class="btn btn-primary btn-lg" type="submit" value="#"/>
        </form>
    </table>
</div>
</body>
</html>