<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home - Telecom</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <style>
        body {
            position: relative;
            width: 300px;
            height: 700px;
            margin: 0px auto;
            text-align:center;
            border: 1px solid #000;
            border-radius: 10%;
        }
        .dno {
            position: absolute;
            left: 0; bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

<div>
    <h1>Popular</h1>

    <hr/>
    <p>Прослушивание осуществляется в непрерывном порядке При проигрывании мелодии введите:</p>
    <hr/>

    <p>1 - для перехода к следующей</p>
    <p>2 - для покупки данной мелодии</p>
    <p>* - для выхода в основное меню</p>
    <p># - для выхода в предыдущее меню</p>

    <hr/>
    <div>
        <div class="${not empty msg}?('msg') bg-success" th:text="${msg}"></div>
        <div class="${not empty err}?('err') bg-danger" th:text="${err}"></div>
    </div>
    <hr/>
    <div>
        <tr>
            <i class="fa fa-music" aria-hidden="true"></i>
            <td th:text="${audio.artist + ' - ' + audio.composition}"></td>
        </tr>
    </div>


</div>

<div class="dno">
    <hr/>
    <table>
        <form action="/content/popular" method="get">
            <input type="hidden" name="id" th:value="${audio.id}"/>
            <input class="btn btn-primary btn-lg" type="submit" value="1"/>
        </form>
        <form action="/content/buypop" method="post">
            <input type="hidden" name="id" th:value="${audio.id}"/>
            <input class="btn btn-primary btn-lg" type="submit" value="2"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="3"/>
        </form>
    </table>

    <table>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="4"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="5"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="6"/>
        </form>
    </table>

    <table>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="7"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="8"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="9"/>
        </form>
    </table>

    <table>
        <form action="/home" method="get">
            <input class="btn btn-primary btn-lg" type="submit" value="*"/>
        </form>
        <form action="/other" method="get">
            <input class="btn btn-primary btn-lg disabled" type="button" value="0"/>
        </form>
        <form action="/content" method="get">
            <input class="btn btn-primary btn-lg" type="submit" value="#"/>
        </form>
    </table>
</div>



</body>
</html>